**/target/
target/
**/target/**

testdata/

.idea/**
.idea/
*.iws
*.iml
*.ipr

**/dependency-reduced-pom.xml
**/.flattened-pom.xml

**/.env

.mvn/
**/target

### VS Code ###
.vscode/

.DS_Store
Thumbs.db